[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ipdb = "0.13.9"
Werkzeug = "2.2.2"
sqlalchemy-serializer = "*"
faker = "*"
flask = "*"
flask-restful = "*"
marshmallow = "*"
flask-cors = "*"
flask-bcrypt = "*"
flask-migrate = "*"
flask-marshmallow = "*"
marshmallow-sqlalchemy = "*"

[requires]
python_full_version = "3.8.13"

[dev-packages]
